# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\devvrat\java\data ka exam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
